<template>
<div class="upload">
  <Alert v-bind="{alert}"/>

  <!-- Start Header -->
  <div class="d-flex justify-content-center">
    <div class="p-1 title">{{ serviceName }} {{ serviceVersion }}</div>
  </div>
  <!-- End Header -->

  <Header/>

  <div class="flex-container">
    <div class="row text-center">
      <div class="col-sm">
        <h4 class="btn btn-link" data-toggle="collapse" data-target="#results" aria-expanded="false" aria-controls="results" title="Email where to send results to.">RESULTS EMAIL</h4>
      </div>
    </div>
    <div id="resultsEmail" class="collapse show" aria-labelledby="resultsEmail" data-parent="#resultsEmail">
      <div class="card-body">
        <div class="form-group">
          <input v-model="resultsEmail" type="email" class="form-control" placeholder="name@example.com" required>
        </div>
      </div>
    </div>
  </div>

  <!-- Start Uload Section -->
  <div class="flex-container uploader">
    <div class="uploader">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <input id="files" class="file-input" type="file" name="files" v-on:change.stop.prevent="grabFiles($event.target.files)" accept="{allowedExtentions}" title="Drop files or Click and seclet files"  multiple/>
        <label for="files">UPLOAD AREA</label>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h5>
          ALLOWED EXTENSIONS:
          <small><br>
          <strong>{{ allowedExtentions.replace(/\,/g, ', ') }}</strong></small><br>
          <small>(drop all files at the same time)</small>
        </h5>
      </div>
    </div>
  </div>
  <!-- End Uload Section -->

  <!-- Start Progress Area -->
  <div id="samples" class="flex-container sample-progress">
    <div class="sample" v-for="(sample, sampleIndex) in samples" v-bind:key="sampleIndex">
      <div v-for="(file, fileIndex) in sample.files" v-bind:key="fileIndex">
        <div class="row progress-row">
          <div class="col-sm-2 progress progress-name">
            <strong>{{ file.name }}</strong>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar bg-success text-left" role="progressbar" v-bind:style="{width: file.uploadProgress +'%'}" aria-valuenow="{file.uploadProgress}" aria-valuemin="0" aria-valuemax="100">
                {{ file.uploadProgress }}% - {{ file.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Progress Area -->

</div>
</template>

<script>
import store from '@/store'
import NProgress from 'nprogress'
import Alert from '@/components/Alert.vue'
import Header from '@/components/Header.vue'
import SampleUploader from '../../vendors/uploader/src/uploader.js'

export default {
  name: 'Uploader',
  components: {
    Alert,
    Header
  },
  props: {
    serviceName: {
      type: String,
      default: 'NTCounter'
    },
    serviceVersion: {
      type: String,
      default: 'v1'
    },
    allowedExtentions: {
      type: String,
      default: String(['.fa', '.fasta', '.fastq', '.fna', '.fq', '.fsa', '.gz', 'txt', '.xlsx'])
    }
  },
  data () {
    return {
      files: [],
      samples: [],
      serviceInfo: {
        name: this.serviceName,
        version: this.serviceVersion
      },
      resultsEmail: store.state.user.data.email ? store.state.user.data.email : '',
      serviceOptions: {},
      alert: {
        isVisible: false,
        alertType: 'alert-danger',
        exclamation: 'Error',
        message: ['Something went wrong']
      },
      ytLoader: NProgress.configure({showSpinner: false}),
      uploader: new SampleUploader(
        {
          samples: `//${document.location.host}/api/v1/samples`,
          files: `//${document.location.host}/api/v1/files`
        },
        {
          onValidationSuccess: (samples) => {
            this.samples = samples
            this.$nextTick(function() {
              document.getElementById("samples").scrollIntoView()
            });
          },
          onFileUploadSuccess: (file) => {
            console.log('Upload finished', file.name)
          },
          onFileUploadProgress: (progress, file) => {
            // console.log(progress, '%');
            file.uploadProgress = progress
            this.$forceUpdate()
          },
          onError: (error) => {
            // console.log(error)
            this.alert.isVisible = true
            this.alert.message = [error]
            window.scrollTo(0,0)
          }
        }
      )
    }
  },
  methods: {
    grabFiles: function (files) {
      let validEmail = this.validEmail(this.resultsEmail)
      if (validEmail) {
        this.files = []
        this.samples = []
        let filesArr = Array.from(files)
        this.files = filesArr.filter(function(file) {
          let fileExtention = file.name.split('.').pop()
          let fileNotEmpty = (file.size != 0)
          let hasValidExtention = (this.allowedExtentions.indexOf(fileExtention) != -1)
          if (fileNotEmpty && hasValidExtention) {
            return file
          }
        }, this)
      } else {
        this.alert.isVisible = true
        this.alert.message = ['Missing or invalid email.']
        window.scrollTo(0,0)
      }
    },
    handleFiles: async function() {
      this.ytLoader.start()
      this.alert.isVisible = false

      this.uploader.handleFiles(this.files, {
        serviceInfo: this.serviceInfo,
        serviceOptions: this.serviceOptions,
        resultsEmail: this.resultsEmail
      });

      this.ytLoader.done()
    },
    validEmail: function(email) {
      let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email);
    }
  },
  watch: {
    files: function() {
      this.handleFiles()
    }
  }
}
</script>

<style lang="sass" scoped>
@import "@/assets/sass/_variables"

.service-options
  margin-bottom: 5px

.form-control:focus
  color: $black
  background-color: $white
  border-color: $monza
  outline: 0
  box-shadow: 0 0 0 0.2rem $monza-lighter

.upload
  background-color: $whitesmoke

.card-body
  border: 1px solid $monza
  background-color: $whitesmoke
  font-size: 0.6em
  text-align: left

h4
  font-weight: bold
  color: $white

h4:hover
  text-decoration: none
  color: $yellow

h4.highlight
  text-decoration: none
  color: $yellow

h5
  color: $white

h5 > small:nth-child(1) > strong
  color: $yellow

button > img
  filter: invert(1)

.flex-container
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.flex-container > div
  background-color: $monza
  color: white
  width: 97%
  text-align: center
  font-size: 30px
  color: $black

.file-input
  width: 100%
  height: 100%
  opacity: 0
  overflow: hidden
  position: absolute
  background-color: black
  margin-left: -43px
  z-index: 1

.file-input + label
  color: black
  display: inline-block
  width: 90%
  height: 350px
  background-repeat: no-repeat
  background-position: center center
  background-image: url('../assets/img/upload.svg')
  background-size: 60% 60%
  border: 5px dashed $black
  font-weight: bold
  font-size: 1.0em
  transition: border 0.2s linear
  margin: 1.2em
  filter: invert(1)

.title
  color: $monza
  font-size: $header-size
  font-weight: bold
  text-shadow: 1px  1px 0 $black, -1px -1px 0 $black, 1px -1px 0 $black, -1px  1px 0 $black, 1px  1px 0 $black

.progress-row
  display: -webkit-box
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  margin-right: -15px
  margin-left: 0px

.progress
  margin-top: 3px
  margin-bottom: 3px
  background-color: $monza
  height: 25px
  font-size: 18px

.progress-name
  margin-top: 10px
  background-color: $whitesmoke

.progress-name > strong
  margin-top: 7px

.progress-bar
  color: $white
  font-weight: bold
  padding-left: 5px
  background-color: $plum

.sample
  background-color: whitesmoke
  border-top: 1px solid $monza-light
  margin-bottom: -1px

.sample-progress
  margin-top: 2px
  margin-bottom: 4px

.sample-progress > div
  background-color: $whitesmoke

</style>
